@use '../abstracts' as a;

.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100PX;


.start-h2{
text-align: center;
    color: a.$heading-color;
    font-size: 90px;
    margin-top: 100px;
    margin-bottom: 100PX;
}

}

.cupcake-play{
    display: flex;
    justify-content: space-around;
    img{
    width: 80px;
    height: 80px;

   
    animation: scale 1s infinite alternate;
    }
    @keyframes scale {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(0.5);
      }
      100% {
        transform: scale(1);
      }
    }

    .play{
    border-radius: 75px;
    background-color: a.$btn-color;
    transition: background-color 0.3s, transform 0.2s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    &:hover{
        background-color: a.$btn-hover;
        border: solid 1px a.$primary-color;
        transform: scale(1.05);
    }

    text-decoration: none;
    color: #fff;
    font-size: 30px;
    padding:60px 120px;
    
}

 }

.h-line1{
    margin-top: 150px;
    border-color: a.$btn-color;
    border-width: 2px; 
}
.h-line2{
    margin-top:10px;
    border-color: a.$btn-hover;
    border-width: 2px; 
    width: 50%;
}

.text{
    h2,h3{
        text-align: center;
    }
    h2{
        font-size:50px;
        color: #fff;
    }
    h3{
        font-size: 20px;
        color: a.$btn-color;
    }
}

footer{
    display: flex;
    justify-content: space-between;
    img{
        width: 25%;
        height:25%;
    }
}


@media screen and (min-width: 768px){



footer{
    img{
        width: 20%;
        height:20%;
    }
}

}